In [1]:
import pandas as pd

In [2]:
# URL of the CSV file
url = "https://raw.githubusercontent.com/opencampus-sh/einfuehrung-in-data-science-und-ml/main/wetter.csv"

# Load the dataset into a DataFrame
df = pd.read_csv(url)

# Display the first few rows
df.head()

        Datum  Bewoelkung  Temperatur  Windgeschwindigkeit  Wettercode
0  2012-01-01         8.0      9.8250                   14        58.0
1  2012-01-02         7.0      7.4375                   12         NaN
2  2012-01-03         8.0      5.5375                   18        63.0
3  2012-01-04         4.0      5.6875                   19        80.0
4  2012-01-05         6.0      5.3000                   23        80.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2601 entries, 0 to 2600
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Datum                2601 non-null   object
 1   Bewoelkung           2591 non-null   float64
 2   Temperatur           2601 non-null   float64
 3   Windgeschwindigkeit  2601 non-null   int64
 4   Wettercode           1932 non-null   float64
dtypes: float64(3), int64(1), object(1)
memory usage: 101.7+ KB

In [4]:
df.describe()

        Bewoelkung   Temperatur  Windgeschwindigkeit   Wettercode
count  2591.000000  2601.000000          2601.000000  1932.000000
mean      4.805866    12.099586            11.191080    37.484472
std       2.578299     7.174357             4.124693    27.567144
min       0.000000   -10.250000             3.000000     0.000000
25%       3.000000     6.512500             8.000000    10.000000
50%       6.000000    12.000000            10.000000    28.000000
75%       7.000000    17.825000            14.000000    61.000000
max       8.000000    32.671428            35.000000    95.000000

In [5]:
overall_avg_temperature = df['Temperatur'].mean()
print("Overall Average Temperature:", overall_avg_temperature)

Overall Average Temperature: 12.099585595540177

In [6]:
# Convert the 'Datum' column to datetime format
df['Datum'] = pd.to_datetime(df['Datum'])

# Filter rows for the month of July
july_data = df[df['Datum'].dt.month == 7]

# Calculate the average temperature for July
july_avg_temperature = july_data['Temperatur'].mean()
print("Average Temperature for July:", july_avg_temperature)

Average Temperature for July: 20.75114227125506